<ng-container *ngIf="isAdmin === 'admin'">
    <ul>
        <li><a routerLink="Admin Home" routerLinkActive="active">Admin Home</a></li>
        <li class="holder-email">
            Hello: {{email}}!
            <mat-card class="containe-avatar">
                <img mat-card-avatar src={{profile}} (click)="openDialog($e)" class="avatar">
            </mat-card>
            <button mat-icon-button (click)="logOut()"><mat-icon>exit_to_app</mat-icon></button>
        </li>
    </ul>
</ng-container>

<ng-container *ngIf="isAdmin === 'user'">
    <ul>
        <li><a routerLink="User Home" routerLinkActive="active">User Home</a></li>
        <li class="holder-email">
            Hello: {{email}}!
            <mat-card class="containe-avatar">
                <img mat-card-avatar src={{profile}} (click)="openDialog($e)" class="avatar">
            </mat-card>
            <button mat-icon-button><mat-icon>add_shopping_cart</mat-icon></button>
            <button mat-icon-button (click)="logOut()"><mat-icon>exit_to_app</mat-icon></button>
        </li>
    </ul>
</ng-container>

<ng-container *ngIf="!isAdmin">
    <ul>
        <li><a routerLink="login" routerLinkActive="active">Login</a></li>
        <li><a routerLink="regestration" routerLinkActive="active">Regestration</a></li>
    </ul>
</ng-container>
    


