ul{
    width: 900px;
    margin: 0 auto;
    padding: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    li{
        list-style: none;
        a{
            text-decoration: none;
            color:gray;
        }
        .active{
            border-bottom: 2px solid red;
        }
    }
}
.containe-avatar{
    box-shadow: none;
}
.holder-email{
    display: flex;
    align-items: center;
}
.holder-avatar-img{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.choose-img{
    outline: none;
}

.modal-books-item{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    .imgBook{
        height: auto;
        width: 50px;
        border-radius: 0;
    }
    span{
        margin-right: 20px;
    }
}
.modal-books-total-count{
    text-align: end;
    padding: 24px;
}